{% load humanize %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Analytics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
        integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous" />
    <style>
        section {
            margin-top: 4em;
        }
    </style>
</head>

<body>
    <section class="section">
        <div class="body" style="margin: auto; max-width: 50em; padding-top: 10em;">
            <h1 class="title is-1 is-link">Site Analytics</h1>
            <hr>
            {% if message %}
            <div class="notification is-success">
                <p>{{message}}</p>
            </div>
            {% endif %}
            <div class="columns">
                <div class="column">
                    <div class="tile notification is-child is-info">
                        <p class="title">{{visits|intcomma}}</p>
                        <p class="subtitle">Known requests</p>
                    </div>
                </div>
                <div class="column">
                    <div class="tile notification is-child is-info">
                        <p class="title">{{ips|intcomma}}</p>
                        <p class="subtitle">Unique IP addresses</p>
                    </div>
                </div>
                <div class="column">
                    <div class="tile notification is-child is-info">
                        <p class="title">{{urls|intcomma}}</p>
                        <p class="subtitle">Unique URLs</p>
                    </div>
                </div>
            </div>
            <section id="urls">
                <h3 class="title">Most popular URLs</h3>
                <table class="table">
                    <thead>
                        <th class="is-narrow">URL</th>
                        <th class="is-narrow">Count</th>
                        <th>Relative Popularity</th>
                    </thead>
                    <tbody>
                        {% for url in top_urls %}
                        <tr>
                            <td class="is-narrow"><a href="{{url.0}}">{{url.0|truncatechars:48}}</a></td>
                            <td class="is-narrow">{{url.1}}</td>
                            <td><progress class="progress is-info" value="{{url.1}}" max="{{visits}}"></progress>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section id="ips">
                <h3 class="title">Most popular IPs</h3>
                <table class="table">
                    <thead>
                        <th class="is-narrow">IP</th>
                        <th class="is-narrow">Count</th>
                        <th>Relative Popularity</th>
                    </thead>
                    <tbody>
                        {% for ip in top_ips %}
                        <tr>
                            <td class="is-narrow"><a href="http://geoiplookup.net/ip/{{ip.0}}">{{ip.0|truncatechars:48}}</a></td>
                            <td class="is-narrow">{{ip.1}}</td>
                            <td><progress class="progress is-info" value="{{ip.1}}" max="{{visits}}"></progress>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section id="visitors">
                <h3 class="title">Recent Visits</h3>
                <table class="table">
                    <thead>
                        <th class="is-narrow">IP</th>
                        <th class="is-narrow">Time</th>
                        <th>URL</th>
                    </thead>
                    <tbody>
                        {% for visitor in recent_visits %}
                        <tr>
                            <td class="is-narrow"><a href="http://geoiplookup.net/ip/{{visitor.ip}}">{{visitor.ip}}</a></td>
                            <td class="is-narrow">{{visitor.time}}</td>
                            <td><a href="{{visitor.url}}">{{visitor.url|truncatechars:48}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section id="actions" style="padding: 2em; background-color: #eee; border-radius: 6px;">
                <h3 class="title is-4">Action Zone</h3>
                <a href="?delete=all" class="button is-danger">Delete All Data</a>
                <a href="?delete=week" class="button is-warning">Delete Data > 1w</a>
                <a href="?delete=day" class="button is-warning">Delete Data > 1d</a>
                <a href="?export=yes" class="button is-info">Export Data</a>
            </section>
        </div>
    </section>
</body>

</html>