[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "==3.10.0"
gunicorn = "==20.1.0"
whitenoise = "==5.3.0"
django-debug-toolbar = "==3.2.2"
pytz = ">=2019.2"
Django = "==3.2.16"
psycopg2-binary = ">=2.9"
unicodecsv = "*"
humanize = "3.11.0"

[requires]
python_version = "3.8"
