.no-scroll {
    overflow-y: hidden;
}

.grid {
    display: flex;
    flex-flow: column wrap;
}

.hero-tab-active {
    border-bottom: 2px solid #222;
    font-weight: 500 !important;
    box-sizing: border-box;
    opacity: 1;
}

.hero .tabs a {
    border-bottom: none !important;
}

.small-margin {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.displaced {
    margin-top: 22px;
    margin-bottom: 0px !important;
}

.is-fullheight {
    height: 100% !important;
}

.is-pulled-bottom {
    bottom: 0px;
}