.figure-card {
    width: 100%;
}

.no-scroll {
    overflow-y: hidden;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (min-width: 920px) {
    .figure-card {
        max-width: 30%;
        min-width: 350px;
        margin-right: 22px;
    }
}