.figure-card {
    width: 100%;
    margin-right: 16px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (min-width: 920px) {
    .figure-card {
        width: 32%;
        min-width: 350px;
    }
}