@media screen and (min-width: 920px) {
    .tweet-card {
        max-width: 45%;
        min-width: 350px;
        margin-right: 22px;
    }

    .grid {
        max-height: 650px;
    }
}

.tweet-card {
    width: 100%;
    flex-basis: 40%;
}
