@media screen and (min-width: 1280px) {
    .tweet-card {
        max-width: 32%;
        min-width: 350px;
        margin-bottom: 24px;
    }

    .grid {
        flex-flow: row wrap !important;
    }
}

@media screen and (max-width: 1279px) and (min-width: 980px) {
    .tweet-card {
        max-width: 49%;
        min-width: 350px;
        margin-bottom: 24px;
    }

    .grid {
        flex-flow: row wrap !important;
    }
}

.tweet-card {
    width: 100%;
}