{% extends 'tracker/content.html' %}

{% load static %}
{% load paginator %}

{% block title %}
About | PolitiTweet
{% endblock %}

{% block precontent %}
<div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title">About PolitiTweet</h1>
                <p class="subtitle">PolitiTweet is dedicated to free and open data.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content textpage">
    <div class="item">
        <p class="heading is-sectionhead">What is PolitiTweet</p>
        <p>PolitiTweet protects the public record by maintaining a persistent archive of public figures' Tweets.</p>
        <p>PolitiTweet monitors public (and primarily political) figures online, creating a stable and persistent
            database that can be referred to for news articles, citations, and other reference. A primary advantage of
            PolitiTweet is that its database remains intact when, for example, a tweet is
            deleted. That's why PolitiTweet has deleted Tweets&mdash;it's nothing magical.</p>
    </div>
    <div class="item">
        <p class="heading is-sectionhead">Who Uses PolitiTweet</p>
        <p>Journalists, researchers, activists, and concerned citizens all use PolitiTweet to help keep the powerful
            accountable.</p>
        <p>PolitiTweet has been cited by <a href="https://www.nbcnews.com/nightly-news/video/wide-range-of-celebrities-accidentally-tweeted-russian-propaganda-during-2016-election-1087414339671">Nightly
                News with Lester Holt</a>, <a href="https://www.nbcnews.com/tech/social-media/trump-other-politicians-celebs-shared-boosted-russian-troll-tweets-n817036">NBC
                News</a>, <a href="https://money.cnn.com/2018/01/19/media/twitter-internet-research-agency-accounts/">CNN</a>,
            the <a href="https://www.thedailybeast.com/michael-flynn-followed-russian-troll-accounts-pushed-their-messages-in-days-before-election">Daily
                Beast</a>, Atlantic Council's <a href="https://medium.com/dfrlab/how-a-russian-troll-fooled-america-80452a4806d1">Digital
                Forensics Research Lab</a> (republished by <a href="https://ru.bellingcat.com/novosti/russia/2017/12/03/tengop/">Bellingcat</a>),
            and the <a href="https://www.nydailynews.com/news/national/trump-nicki-minaj-thousand-duped-russian-twitter-bots-article-1.3825400">New
                York Daily News</a>, among others.</p>
    </div>
    <div class="item">
        <p class="heading is-sectionhead">Suggesting an Account Addition</p>
        <p>Is there a public figure whose Twitter account you would like PolitiTweet to track? Wonderful! Send an email
            to <a href="mailto:secure@politiwatch.org">secure@politiwatch.org</a>.</p>
        <p>Keep in mind, though, that PolitiTweet cannot track everyone. Not only would it put a significant strain on
            our servers, it would also be a gross violation of individual privacy&mdash;and <a href="https://whyprivacymatters.org">privacy
                matters</a>. Instead, we only track public figures. If you're not sure whether the person you are
            requesting to add is a public figure, a good rule of thumb is to check if that person is either verified on
            Twitter or has a Wikipedia page. If so, they might belong in PolitiTweet. If not, they probably don't.</p>
    </div>
    <div class="item">
        <p class="heading is-sectionhead">Requesting an Account Removal</p>
        <p>PolitiTweet only monitors <i>public figures</i>&mdash;and we only monitor those public figures' <i>public
                accounts</i>. In essence, we track those whose Twitter accounts' messaging could have a significant
            impact to many people. PolitiTweet is not meant to strip individuals of their privacy; instead, it exists
            simply to secure the public record on Twitter.</p>
        <p>If your Twitter account is being archived by PolitiTweet and you would like it to be removed, you may email
            <a href="mailto:secure@politiwatch.org">secure@politiwatch.org</a>. You will be required to verify that the
            Twitter account you would like to remove is, in fact, yours.</p>
    </div>
</div>
{% endblock %}