{% extends 'tracker/content.html' %}

{% load static %}
{% load paginator %}

{% block title %}
About | PolitiTweet
{% endblock %}

{% block precontent %}
<div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title">About PolitiTweet</h1>
                <p class="subtitle">PolitiTweet is dedicated to free and open data.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <p class="heading is-sectionhead">What is PolitiTweet?</p>
    <p></p>
</div>
{% endblock %}