{% extends 'tracker/content.html' %}

{% block title %}
Monitored Figures | PolitiTweet
{% endblock %}

{% block precontent %}
<div class="columns is-vcentered">
    <div class="column">
        <h1 class="title">Figures</h1>
        <p class="subtitle">PolitiTweet currently tracks <strong>{{all_figures}}</strong> public figures.</p>
    </div>
    <div class="column is-narrow">
        <div class="search">
            <form class="control" method="GET" action="{% url 'figures' %}">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" name="search" placeholder="Search for a figure..." value="{{search_query}}">
                    </div>
                    <div class="control">
                        <button class="button is-dark" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% if search_query %}
<p class="is-medium">Your search for <strong>{{search_query}}</strong> yielded <strong>{{figures|length}}</strong> results. <a href="{% url 'figures' %}">Clear search.</a></p>
<br>
<br>
{% endif %}

<div class="grid">
    {% for figure in figures %}
    <div class="box figure-card">
        <article class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img class="is-rounded" src="{{figure.full_data.profile_image_url}}" alt="Profile Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{figure.full_data.name}}</strong> <a class="has-text-grey" href="https://twitter.com/{{figure.full_data.screen_name}}">@{{figure.full_data.screen_name}}</a>
                        <br>
                        {{figure.full_data.description}}
                        <hr>
                    </p>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}
</div>

{% endblock %}