{% load humanize utils %}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="columns is-mobile">
                        <div class="column is-narrow">
                            <figure class="image is-64x64">
                                <a href="{% url 'figure' %}?account={{figure.user_id}}"><img class="is-rounded" src="{{figure.full_data.profile_image_url|to_https}}" onerror="this.src = '{% static 'tracker/default_profile.png' %}'" alt="Profile Image"></a>
                            </figure>
                        </div>
                        <div class="column">
                            <a href="{% url 'figure' %}?account={{figure.user_id}}"><h1 class="title">{{figure.full_data.name|safe}}</h1></a>
                            <p class="subtitle has-text-link"><a href="https://twitter.com/{{figure.full_data.screen_name}}"
                                    target="_blank">@{{figure.full_data.screen_name}} &nearr;</a></p>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    {% include 'tracker/search_include.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <nav class="tabs">
                <ul>
                    <li class="{% if active == 'overview' %}hero-tab-active{% endif %}">
                        <a href="{% url 'figure' %}?account={{figure.user_id}}">Overview</a>
                    </li>
                    <li class="{% if active == 'archive' %}hero-tab-active{% endif %}">
                        <a href="{% url 'tweets' %}?account={{figure.user_id}}">Archive</a>
                    </li>
                    <li class="{% if active == 'deleted' %}hero-tab-active{% endif %}">
                        <a href="{% url 'tweets' %}?account={{figure.user_id}}&deleted=True">Deleted</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>