{% load humanize utils static %}

<a href="{% url 'figure' %}?account={{figure.user_id}}" class="box figure-card">
    <article class="media">
        <div class="media-left">
            <figure class="image is-48x48">
                <img class="is-rounded" src="{{figure.full_data.profile_image_url|to_https}}" onerror="this.src = '{% static 'tracker/default_profile.png' %}'" alt="Profile Image">
            </figure>
        </div>
        <div class="media-content no-scroll">
            <div class="content">
                <p class="is-marginless">
                    <strong>{{figure.full_data.name|safe}}</strong> <span class="has-text-grey" href="https://twitter.com/{{figure.full_data.screen_name}}"
                        target="_blank">@{{figure.full_data.screen_name}}</span>
                </p>
                <p class="small-top-margin">
                    {{figure.full_data.description|default:"<span class='has-text-grey'>No Description</span>"}}
                </p>
                <div class="tags small-top-margin">
                    {% if figure.removal_requested %}
                    <span class="tag is-danger">Removed by Request</span>
                    {% else %}
                    {% if figure.deleted_count > 0 %}
                    <span class="tag is-danger">{{figure.deleted_count|intcomma}} Deleted</span>
                    {% else %}
                    <span class="tag">No Deletions</span>
                    {% endif %}
                    {% endif %}

                    {% if not figure.monitored %}
                    <span class="tag is-info">No Longer Monitored</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
</a>