{% extends 'tracker/content.html' %}

{% load humanize %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'tracker/figure.css' %}">
{% endblock %}

{% block title %}
@{{figure.full_data.screen_name}} Deleted Tweet Archive | PolitiTweet
{% endblock %}

{% block precontent %}
{% include 'tracker/figure_precontent.html' %}
{% endblock %}

{% block content %}

<div class="columns content">
    <div class="column is-3">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Known Deleted</span>
                    <span class="tag {% if figure.deleted_count > 0 %}is-danger{% else %}is-success{% endif %}">{{figure.deleted_count|intcomma}}</span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Total Archived</span>
                    <span class="tag is-success">{{total_archived|intcomma}}</span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Last Updated</span>
                    <span class="tag is-info">{{figure.modified_date|naturalday|title}}</span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Monitored Since</span>
                    <span class="tag is-info">{{figure.added_date|naturalday|title}}</span>
                </div>
            </div>

            {% if figure.flagged %}
            <span class="tag is-warning">Flagged for Processing</span>
            {% endif %}

            {% if not figure.monitored %}
            <span class="tag is-info">No Longer Monitored</span>
            {% endif %}
        </div>
        <br>

        <p class="heading is-marginless">Description</p>
        <p>{{figure.full_data.description|default:"<span class='has-text-grey'>No Description</span>"}}</p>

        <p class="heading displaced">Followers</p>
        <p>{{figure.full_data.followers_count|intcomma}}</p>

        <p class="heading displaced">Tweets</p>
        <p>{{figure.full_data.statuses_count|intcomma}}</p>

        <p class="heading displaced">Identifier</p>
        <p>{{figure.user_id}}</p>

        <p class="heading displaced">Location</p>
        <p>{{figure.full_data.location|default:"<span class='has-text-grey'>No Location</span>"}}</p>

        <p class="heading displaced">Website</p>
        <p>{% if figure.full_data.url %}<a href="{{figure.full_data.url}}">{% endif %}
                {{figure.full_data.url|default:"<span class='has-text-grey'>No Link</span></i>"}}{% if figure.full_data.url %}</a>{% endif %}</p>

        <p class="heading displaced">View on Twitter</p>
        <a href="https://twitter.com/{{figure.full_data.screen_name}}" class="small-top-margin button is-small is-info is-outlined">Twitter.com</a>
    </div>
    <div class="column is-offset-1 is-8">
        {% if figure.flagged %}
        <article class="message is-warning">
            <div class="message-body">
                Please note that @{{figure.full_data.screen_name}} has been <strong>flagged for processing</strong>.
                PolitiTweet has detected that @{{figure.full_data.screen_name}} deleted a Tweet, but it has not yet
                identified
                <i>which</i> Tweet was deleted.
            </div>
        </article>
        {% endif %}
        {% if not figure.monitored %}
        <article class="message is-info">
            <div class="message-body">
                Please note that @{{figure.full_data.screen_name}} is <strong>no longer monitored</strong> by PolitiTweet.
                This is a result of either PolitiTweet removing this user from its tracking list, the account being deleted,
                or the account 'blocking' PolitiTweet.
            </div>
        </article>
        {% endif %}
        {% if figure.deleted_count == 0 %}
        <article class="message is-info">
            <div class="message-body">
                <strong>Nothing to see here.</strong> PolitiTweet hasn't yet detected any deleted Tweets from
                @{{figure.full_data.screen_name}}.
            </div>
        </article>
        {% else %}
        <div class="grid">
            {% for tweet in tweets %}
            {% include 'tracker/tweet_card.html' %}
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {% if figure.deleted_count != 0 %}
        <a href="{% url 'tweets' %}?account={{figure.user_id}}&deleted=True" class="button is-danger is-outlined">All
            Deleted Tweets</a>&nbsp;&nbsp;
        {% endif %}
        <a href="{% url 'tweets' %}?account={{figure.user_id}}" class="button is-dark is-outlined">All Archived
            Tweets</a>
    </div>
</div>
{% endblock %}