<footer class="has-background-white-ter">
    <div class="container">
        <div class="content sidemargin">
            <p>
                <strong>&copy; {% now "Y" %} <a href="https://politiwatch.org" class="has-text-dark">Politiwatch</a></strong>.
                Tweets and other media belong to their indicated owners; all other materials are licensed <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>. If you use PolitiTweet professionally, please feel free to <a href="mailto:secure@politiwatch.org">let us know</a>. Note that PolitiTweet stopped archiving new tweets on April 3, 2023, when Twitter disabled our API access.
            </p>
        </div>
    </div>
</footer>