<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <h1 class="title">All {% if deleted_filter == "True" %}Deleted{% endif %} Tweets</h1></a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="container">
            <nav class="tabs">
                <ul>
                    <li class="{% if active == 'overview' %}hero-tab-active{% endif %}">
                        <a href="{% url 'figure' %}?account={{figure.user_id}}">Overview</a>
                    </li>
                    <li class="{% if active == 'archive' %}hero-tab-active{% endif %}">
                        <a href="{% url 'tweets' %}?account={{figure.user_id}}">Archive</a>
                    </li>
                    <li class="{% if active == 'deleted' %}hero-tab-active{% endif %}">
                        <a href="{% url 'tweets' %}?account={{figure.user_id}}&deleted=True">Deleted</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>