{% extends 'tracker/base.html' %}

{% load humanize %}

{% block title %}
PolitiTweet | Twitter Archive and Deleted Tweet Tracker
{% endblock %}

{% block head %}
<meta name="description" content='Monitoring celebrities, politicians, and public figures, scanning for silent retractions and deleted tweets.'>
{% endblock %}

{% block body %}

<section class="hero is-dark is-medium">
    <div class="hero-head">
        {% include 'tracker/navbar.html' %}
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-5">
                    <p class="title is-marginless">
                        See what they don't want you to see.
                    </p>
                    <p class="subtitle medium-top-margin">
                        PolitiTweet helps keep the powerful accountable by monitoring celebrities, politicians,
                        and public figures for <strong>silent retractions</strong>
                        and <strong>deleted tweets</strong>.
                    </p>
                    <a class="button is-link is-medium is-fullwidth is-hidden-desktop" href="{% url 'figures' %}">Explore
                        the Database</a>
                    <a class="button is-link is-medium is-hidden-touch" href="{% url 'figures' %}">Explore the Database</a>
                </div>
                <div class="column is-offset-1">
                    <p class="heading">Latest Deleted Tweet</p>
                    <div class="card">
                        {% with tweet=most_recently_deleted %}
                        {% include 'tracker/tweet_card.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-light">
    <div class="hero-body is-centered">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="hero-number">
                        <p class="heading number-label">Figures</p>
                        <p class="number-value">{{total_figures|intcomma}}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="hero-number">
                        <p class="heading number-label">Latest Archive Addition</p>
                        <p class="number-value">{{last_archived|naturaltime}}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="hero-number">
                        <p class="heading number-label">Deleted Tweets</p>
                        <p class="number-value">{{total_deleted|intcomma}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="subtitle is-4 has-text-centered">Most Deletions</h3>
                {% for figure in most_deletions %}
                {% include 'tracker/figure_card.html' %}
                {% endfor %}
            </div>
            <div class="column">
                <h3 class="subtitle is-4 has-text-centered">Recently Archived</h3>
                {% for tweet in recently_archived %}
                {% include 'tracker/tweet_card.html' %}
                {% endfor %}
            </div>
            <div class="column">
                <h3 class="subtitle is-4 has-text-centered">Recently Deleted</h3>
                {% for tweet in recently_deleted %}
                {% include 'tracker/tweet_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}