{% load static %}

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <img src="{% static 'tracker/negative.png' %}">
                &nbsp;
                <strong>PolitiTweet</strong>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="topBar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="topBar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'index' %}">
                    Home
                </a>

                <a class="navbar-item" href="{% url 'figures' %}">
                    Figures
                </a>

                <a class="navbar-item" href="{% url 'about' %}">
                    About
                </a>

                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-link is-small" href="https://donorbox.org/polititweet">
                            Donate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>