<div class="search">
    <form method="GET" action="{% url 'tweets' %}" autocomplete="off">
        <input type="hidden" value="{{figure.user_id}}" name="account" />
        <div class="field has-addons">
            <div class="control">
                <span class="select">
                    <select name="deleted">
                        <option value="Any" {% if deleted_filter == "" %}selected{% endif %}>No Filter</option>
                        <option value="True" {% if deleted_filter == "True" %}selected{% endif %}>Deleted</option>
                        <option value="False" {% if deleted_filter == "False" %}selected{% endif %}>Not Deleted</option>
                    </select>
                </span>
            </div>
            <div class="control">
                <input class="input" type="text" name="search" placeholder="Search @{{figure.full_data.screen_name}}..."
                    value="{{search_query}}">
            </div>
            <div class="control">
                <button class="button is-dark" type="submit">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>