{% extends 'tracker/content.html' %}

{% load humanize %}
{% load static %}
{% load paginator %}

{% block head %}
<link rel="stylesheet" href="{% static 'tracker/tweets.css' %}">
{% endblock %}

{% block title %}
{% if active == "deleted" %}
@{{figure.full_data.screen_name}} Deleted Tweets | PolitiTweet
{% else %}
@{{figure.full_data.screen_name}} Tweets | PolitiTweet
{% endif %}
{% endblock %}

{% block precontent %}
{% include 'tracker/figure_precontent.html' %}
{% endblock %}

{% block content %}

{% if search_query %}
<article class="message is-info">
    <div class="message-body">
        <p class="is-medium">Your search for <strong>{{search_query}}</strong> yielded <strong>{{total_matched}}</strong>
            results.</p>
    </div>
</article>
{% endif %}

<p class="is-size-7 has-text-grey">
{% if pagination_enabled %}
Showing page <strong>{{page_obj.number}}</strong> of <strong>{{paginator.num_pages}}</strong>.
{% else %}
Pagination is currently disabled. <a href="{{request.get_full_path|enable_pagination}}" class="has-text-dark"><u>Enable normal pagination.</u></a>
{% endif %}
<br><br></p>

{% if total_matched == 0 and not search_query %}
<article class="message is-info">
    <div class="message-body">
        <strong>Nothing to see here.</strong> PolitiTweet did not find any tweets to show you.
    </div>
</article>
{% endif %}

<div class="grid">
    {% if not pagination_enabled %}
    {% for tweet in tweets %}
    {% include 'tracker/tweet_card.html' with abridged=True %}
    {% endfor %}
    {% else %}
    {% for tweet in tweets %}
    {% include 'tracker/tweet_card.html' %}
    {% endfor %}
    {% endif %}
</div>
<br>
{% pagination page_obj url_parameters=url_parameters %}
<br>
<div class="has-text-centered is-small">
    <small>
        {% if pagination_enabled %}
        <a href="{{request.get_full_path}}&pagination=False" class="has-text-dark"><u>Temporarily disable pagination.</u></a>
        {% else %}
        <a href="{{request.get_full_path|enable_pagination}}" class="has-text-dark"><u>Enable normal pagination.</u></a>
        {% endif %}
    </small>
</div>
{% endblock %}