{% load humanize %}

<a href="{% url 'tweet' %}?account={{tweet.full_data.user.id}}&tweet={{tweet.tweet_id}}" class="box tweet-card">
    <article class="media">
        <div class="columns is-mobile">
            <div class="column is-narrow">
                <figure class="image is-48x48 is-marginless">
                    <img class="is-rounded" src="{{tweet.user.full_data.profile_image_url}}" alt="Profile Image">
                </figure>
            </div>
            <div class="column">
                <p>
                    <strong>{{tweet.user.full_data.name|safe}}</strong> <span class="has-text-grey" href="https://twitter.com/{{tweet.user.full_data.screen_name}}"
                        target="_blank">@{{tweet.user.full_data.screen_name}}</span>
                </p>
                <p class="small-top-margin">
                    {{tweet.text|safe}}
                    <span class="has-text-grey-light">&mdash;&nbsp;PolitiTweet.org</span>
                </p>
                <div class="tags is-pulled-bottom small-top-margin">
                    <span class="tag is-white is-paddingless">Published {{tweet.day|naturalday|title}}</span>
                    {% if tweet.deleted %}
                    <span class="tag is-danger">Deleted</span>
                    {% endif %}
                    {% if tweet.hibernated %}
                    <span class="tag is-light">Hibernated</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
</a>