{% extends 'tracker/content.html' %}

{% load humanize %}
{% load utils %}
{% load static %}
{% load paginator %}

{% block head %}
<link rel="stylesheet" href="{% static 'tracker/tweets.css' %}">
{% endblock %}

{% block title %}
{% if user %}@{{figure.full_data.screen_name}}&nbsp;{% endif %}
{% if active == "deleted" %}
Deleted Tweets | PolitiTweet
{% else %}
Tweets | PolitiTweet
{% endif %}
{% endblock %}

{% block precontent %}
{% if figure %}
{% include 'tracker/figure_precontent.html' %}
{% else %}
{% include 'tracker/general_precontent.html' %}
{% endif %}
{% endblock %}

{% block content %}

{% if search_query %}
<article class="message is-info">
    <div class="message-body">
        <p class="is-medium">Your search for <strong>{{search_query}}</strong> yielded <strong>{{total_matched}}</strong>
            results.</p>
    </div>
</article>
{% endif %}

<p class="is-size-7 has-text-grey">
Showing page <strong>{{page_obj.number}}</strong> of <strong>{{paginator.num_pages}}</strong>.
<br><br></p>

{% if total_matched == 0 and not search_query %}
<article class="message is-info">
    <div class="message-body">
        <strong>Nothing to see here.</strong> PolitiTweet did not find any tweets to show you.
    </div>
</article>
{% endif %}

<div class="grid">
    {% for tweet in tweets %}
    {% include 'tracker/tweet_card.html' %}
    {% endfor %}
</div>
<br>
{% pagination page_obj url_parameters=url_parameters %}
{% endblock %}