{% extends 'tracker/content.html' %}

{% load humanize %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}
Tweet by @{{figure.full_data.screen_name}} | PolitiTweet
{% endblock %}

{% block precontent %}
{% include 'tracker/figure_precontent.html' %}
{% endblock %}

{% block content %}

<div class="columns content">
    <div class="column is-3">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Deleted</span>
                    {% if tweet.deleted %}
                    <span class="tag is-danger">Yes</span>
                    {% else %}
                    <span class="tag is-success">No</span>
                    {% endif %}
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Hibernated</span>
                    {% if tweet.hibernated %}
                    <span class="tag is-warning">Yes</span>
                    {% else %}
                    <span class="tag is-success">No</span>
                    {% endif %}
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Last Seen</span>
                    <span class="tag is-info">{{tweet.modified_date|naturalday|title}}</span>
                </div>
            </div>
        </div>
        <br>

        <p class="heading is-marginless">Created</p>
        <p>{{tweet.full_data.created_at}}</p>

        <p class="heading displaced">Likes</p>
        <p>{{tweet.full_data.favorite_count|intcomma}}</p>

        <p class="heading displaced">Retweets</p>
        <p>{{tweet.full_data.retweet_count|intcomma}}</p>

        <p class="heading displaced">View on Twitter</p>
        {% if tweet.deleted %}
        <a href="https://twitter.com/{{figure.full_data.screen_name}}/status/{{tweet.tweet_id}}" class="small-top-margin button is-small is-danger is-outlined">Likely Unavailable</a>
        {% else %}
        <a href="https://twitter.com/{{figure.full_data.screen_name}}/status/{{tweet.tweet_id}}" class="small-top-margin button is-small is-success is-outlined">Likely Available</a>
        {% endif %}
    </div>
    <div class="column is-8">
        {% include 'tracker/tweet_card.html' %}
        <div class="columns is-slightly-transparent">
            <div class="column is-fullheight">
                <p class="heading">
                    Preceded By
                </p>
                {% if preceding %}
                {% with tweet=preceding %}
                {% include 'tracker/tweet_card.html' %}
                {% endwith %}
                {% else %}
                <article class="message is-info">
                    <div class="message-body">
                        <p class="is-medium">This is the oldest known Tweet from @{{figure.full_data.screen_name}}. It
                            is not preceded by anything.</p>
                    </div>
                </article>
                {% endif %}
            </div>
            <div class="column is-fullheight">
                <p class="heading">
                    Followed By
                </p>
                {% if following %}
                {% with tweet=following %}
                {% include 'tracker/tweet_card.html' %}
                {% endwith %}
                {% else %}
                <article class="message is-info">
                    <div class="message-body">
                        <p class="is-medium">This is the most recent known Tweet from
                            @{{figure.full_data.screen_name}}. It is not followed by anything.</p>
                    </div>
                </article>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}