{% extends 'tracker/base.html' %}

{% block title %}Error 500 | PolitiTweet{% endblock %}

{% block body %}
{% include 'tracker/navbar.html' %}
<section class="hero is-primary is-bold is-warning is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hey! We're under maintenance right now.
            </h1>
            <h2 class="subtitle">
                We're currently working with our sponsor Microsoft to get everything back online as soon as possible. (The physical machine powering PolitiTweet's managed PostgreSQL database had a hardware failure. Don't worry &mdash; we don't think any data has been lost. That's the power of hourly backups!)
            </h2>
        </div>
    </div>
</section>
{% endblock %}