{% extends 'tracker/base.html' %}

{% block title %}Error 500 | PolitiTweet{% endblock %}

{% block body %}
{% include 'tracker/navbar.html' %}
<section class="hero is-primary is-bold is-warning is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hey! We couldn't handle your request.
            </h1>
            <h2 class="subtitle">
                It's possible that we're under maintenance, or you just performed a search we couldn't handle. We're currently working to get everything back online as soon as possible. If you're concerned about this error, email <a href="mailto:secure@politiwatch.org">secure@politiwatch.org</a>.
            </h2>
        </div>
    </div>
</section>
{% endblock %}